.nav-link {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	background: bisque;
}
body {
  background-color: lavender;
}

div {
  width: 500px;
  height: 100px;
}

div.static {
	background-color: blue;
}

div.relative {
  background-color: yellow;
  position: relative;
}

div.fixed {
  background-color: purple;
  position: fixed;
}

div.absolute {
  background-color: green;
  position: absolute;
}

div.sticky {
  background-color: red;
  position: sticky;
}.container {
  display: flex;
  padding:10px;
  background-color: seagreen;
  min-height: 200px;
}

.container div {
  margin: 10px 10px;
  width: 100px;
  height: 100px;
  background-color: bisque;
}

