body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.content {
  font-family: monospace;
  color: white;
  font-size: 14pt;
  text-transform: uppercase;
  opacity: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.big {
  font-size: 80px;
  color: white;
  opacity: .8;
}
.medium {
  opacity: .5;
}

.small {
  opacity: .8;
  font-size: 10pt;
}

.line {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0); 
}

.line:hover {
  transform: translateX(-100vw);
  opacity: 0;
  cursor: none;
}